<h1>About Us</h1>

<p>We are a young Cape Town based cyber security company specialized in guarding agains website attacks and secure communication. We are a growing company with a carefully selected team.</p>



<h2>Quentin Rufin</h2>
<p>Quentin studied cyber security at Epitec in France and specializes in buffer overflow, heap overflow and XSS. He knows a thing or two about computer viruses, as he has written some himself (in a research environment of course). Other than programming Quentin enjoys travel and cycling.
</p>


<h2>Benedikt Boehm</h2>
<p>Benedikt is a security researcher and founder of Atlantic Cyber Defenses. In terms of education, Benedikt holds a MSc in Computer Security and his main interest lies in web crawlers, web security and steganography. When not at work, Benedikt loves swimming and snorkeling in the ocean.</p>







