<h1>About Us</h1>

<p>We are a young Cape Town based cyber security company specializing in the detection of web site vulnerabilities such a cross site scipting and SQL injection. In addition we consult clients on secure communication via cryptography or steganography. Atlantic Cyber Defenses is dedicated to protecting its clients from hackers, spammers, eavesdroppers and any other type of adversary.
</p>



