<% @title="Services - Atlantic Cyber Defenses"%>
<% @description=""%>

<h1>Services</h1>
<h2>Website vulnerabilities</h2>
We analyze our clients online security and create customized solutions. Our solutions are delivered in form of a detailed report outlining the the security issues and how to guard against them. Additionally we also provide on site consultations and in all cases re-test your website to ensure it its secure. Below we highlight two popular attacks on web servers.

<!--For our clients we produce a detailed report on what security vulnerabilities have been found and how to fix them. In addition we also offer on site consultation to web developers, ensuring that security issues are properly fixed-->
<h3>Cross Site Scripting</h3>
Cross site scripting is a technique that allows an attacker to redirect users from your page to someone else's, modify content on your page, or even steal your users private information. The attack is achieved by injecting Javascript code into a victims database (persistent xss) or posting modified versions of your web address via email or social media (reflective xss).

<h3>SQL injection</h3>
SQL injections or simply SQLi is an attack that enables hackers to gain full access to a web sites database. This is a very serious problems, as it can lead to the removal of a sites entire content and the theft of sensitive / non public information. The attack is achieved by taking advantage of insecure web-forms or any other part of a webpage that accepts entries into its database.

<h2>Secure Communication</h2>
With the disclosure of of North America's <%= link_to "PRISM", "http://www.theguardian.com/us-news/prism" %> program, organizations and individuals are becoming increasingly concerned with secure communication. We help people ensure private messages remain private by consulting them about the correct use of cryptography and steganography.
