<% @title="Team - Atlantic Cyber Defenses"%>
<% @description=""%>

<h1>Team</h1>
<!--<h2>Benjamin Miller</h2>
<p>Starting of a with a degree in chemistry, Benjamin later transitioned into cyber security, gaining a MSc in Computer Science and now works as a lead researcher at Atlantic Cyber Defenses. Benjamin knows his way around web security and authorisation systems but also around a photo camera and a bicycle.</p>
-->

<h2>Quentin Rufin</h2>
<p>Quentin studied cyber security at Epitec in France and specializes in buffer overflow, heap overflow and XSS. He knows a thing or two about computer viruses, as he has written some himself (in a research environment of course). Other than programming Quentin enjoys travel and cycling.
</p>


<h2>Benedikt Boehm</h2>
<p>Benedikt is a security researcher and founder of Atlantic Cyber Defenses. In terms of education, Benedikt holds a MSc in Computer Security and his main interest lies in web crawlers, web security and steganography. When not at work, Benedikt loves swimming and snorkeling in the ocean.</p>